table{
    width: 500px;
    height: 300px;
}
td{
    font-weight: bold;
    text-align: center;
}
th{
    font-weight: normal;
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 40px;
    font-style: italic;
    font-weight: normal;
}
p{
    font-size: 30px;
}
